<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../assets/img/apple-icon.png">
  <link rel="shortcut" href="https://telegra.ph/file/f17f2a1ef76c43abd26f7.png">
  <title>
    NEKELL - API
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="assets/css/black-dashboard.css" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="assets/demo/demo.css" rel="stylesheet" />
  <link href="assets/css/simple.css" rel="stylesheet" />
<audio autoplay="autoplay" hidden="hidden" src="https://g.top4top.io/m_2349enk3v0.mp3"></audio>
</head>



<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo text-center">
          <a href="/docs" class="simple-text logo-normal" style="font-size: large;">
                     NEKELL API
                    </a>
        </div>
        <ul class="nav">
          <li class="active ">
            <a href="/docs">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/islami">
              <i class="tim-icons icon-bulb-63"></i>
              <p>Islami</p>
            </a>
          </li>
          <li>
            <a href="/downloader">
              <i class="tim-icons icon-cloud-download-93"></i>
              <p>Downloader</p>
            </a>
          </li>
          <li>
            <a href="/searching">
              <i class="tim-icons icon-zoom-split"></i>
              <p>Searching</p>
            </a>
          </li>
          <li>
            <a href="/fun">
              <i class="tim-icons icon-satisfied"></i>
              <p>Fun</p>
            </a>
          </li>
          <li>
            <a href="/wallpaper">
              <i class="tim-icons icon-image-02"></i>
              <p>Wallpaper Image</p>
            </a>
          </li>
          <li>
            <a href="/cecan">
              <i class="tim-icons icon-align-center"></i>
              <p>Cecan</p>
            </a>
          </li>                             
          <li>
            <a href="/asupannsfw">
              <i class="tim-icons icon-video-66"></i>
              <p>Asupan & Nsfw</p>
            </a>
          </li>        
          <li>
            <a href="/canvas">
              <i class="tim-icons icon-palette"></i>
              <p>Canvas</p>
            </a>
          </li>
          <li>
            <a href="/stalking">
              <i class="tim-icons icon-book-bookmark"></i>
              <p>Stalking</p>
            </a>
          </li>
          <li>
            <a href="/textpro">
              <i class="tim-icons icon-planet"></i>
              <p>TextProMe</p>
            </a>
          </li>         

        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              
              <li class="dropdown nav-item">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="notification d-none d-lg-block d-xl-block"></div>
                  <i class="tim-icons icon-bell-55"></i>
                  <p class="d-lg-none">
                    Notifications
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                  <li class="nav-link"><a href="#" class="nav-item dropdown-item">Halo Everyonel</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Gunakan Apikey Dengan Bijak Yaa</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Jangan Lupa Donasinya</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Jika Ingin Custom Apikey Chat Owner</a></li>
                </ul>
              </li>
               
                
                
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="https://telegra.ph/file/f17f2a1ef76c43abd26f7.png" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    INFO~
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="/profile" class="nav-item dropdown-item">Profile</a></li>
                  <li class="nav-link"><a href="/game" class="nav-item dropdown-item">Web Game</a></li>
                  <li class="nav-link"><a href="/about" class="nav-item dropdown-item">About Web</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-12 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div>
                                        <p class=" mb-1 ">Visitor</p>
                                        <h2 class="mb-1 number-font">
                                            <div class="visitor" id="visitor"></div>
                                        </h2>
                                        <small class="fs-12 text-success">Total Visitor</small>
                                    </div>
                                    <span class="text-info fs-35 dash1-iocns bg-info-transparent border-info"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div>
                                        <p class=" mb-1 ">Hit</p>
                                        <h2 class="mb-1 number-font">
                                            <div class="visitor" id="hit"></div>
                                        </h2>
                                        <small class="fs-12 text-success">Total Hit</small>
                                    </div>
                                    <span class="text-info fs-35 dash1-iocns bg-info-transparent border-info"><i class="fa fa-tag" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div>
                                        <p class=" mb-1 ">IP Addres</p>
                                        <h2 class="mb-1 number-font">
                                            <div class="visitor" id="ipaddres"></div>
                                        </h2>
                                        <small class="fs-12 text-success">Your IP Addres</small>
                                    </div>
                                    <span class="text-info fs-35 dash1-iocns bg-info-transparent border-info"><i class="fa fa-wifi" aria-hidden="true"></i></span>
                                  </div>
                            </div>
                        </div>
                         
                      <form action="/api/cekapikey">
              <div class="card card-round mt-5 stretch-card grid-margin">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h4 class="m-0 font-weight-bold text-warning"><i <h4>CEK APIKEY</h4>
                </div>
               <div class="card-body">
                 <p class="status" style="font-size: 17px;"></p>
                   <div class="form-group">
                     <input class="form-control font-weight-bold text-center" type="text" placeholder="Masukkan Apikey" name="apikey" required>
                   </div>
                   <div class="form-group"><center>
                     <button type="submit" class="btn btn-primary content-justify-center"><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i> <span class="font-weight-bold"> Submit</span></button></center>
                    </div>
               </div>
          </div>
     </div>                         
                    <div class="col-lg-4">
<div class="card card-chart">
        <div class="card card-stats card-round">
            <div class="card-header">
                <h3 style="margin-bottom: 0">
                    <i class="tim-icons icon-attach-87 text-danger"></i> S&K
                </h3>
            </div>
            <div class="card-body mb-3">
                <ol>
                    <li>Jangan spam atau flooding request. </li>
                    <li>
                        Dilarang merusak website template.
                    </li>
                    <li>Gunakan website dengan bijak</li>
                    <li>Jangan ditembak bang sakit.</li>
                    <li>
                        Owner dapat sewaktu waktu mengubah ketentuan di website ini, demi menjaga kualitas website.
                    </li>
                    <li>
                        Owner tidak bertanggung jawab atas apa yang Anda lakukan dalam penggunaan website ini.</li>
                    </ol>
            </div>
        </div>
    </div>
</div>        
      
            <div class="col-lg-4">
<div class="card card-chart">
        <div class="card card-stats card-round">
            <div class="card-header">
                <h3 style="margin-bottom: 0">
                    <i class="tim-icons icon-molecule-40 text-danger"></i> Thanks To 
                </h3>
            </div>
            <div class="card-body mb-3">
                <ol>
                    <li>Penyedia Template</li>
                    <li>
                        Reysekha.
                    </li>
                    <li>Heroku</li>
                    <li>Nekellalwayslus (saya sendiri).</li>
                    <li>
                        My Friends
                    </li>
                    <li>
                        Allah SWT & My Ortu.</li>
                     </ol>
            </div>
        </div>
    </div>
</div>        

      <div class="col-lg-4">
<div class="card card-chart">
        <div class="card card-stats card-round">
            <div class="card-header">
                <h3 style="margin-bottom: 0">
                    <i class="tim-icons icon-headphones text-danger"></i> Contact Me
                </h3>
            </div>
            <div class="card-body mb-3">
                <ol>
                    <li>Kalian Ingin Custom Api?</li>
                    <li>
                        Atau Ada Yang Bug/Eror?
                    </li>
                    <li>Silahkan Contact Saya Ya</li>
                    <li>Nomor WhatsApp Ada Di Profil</li>
                    <li>
                        Untuk Custom Apikey Harga Silahkan Chat Whatsapp
                    </li>
                    <li>
                        Jika Ingin Req Fitur Langsung Aja Chat Wa</li>
                     </ol>
            </div>
        </div>
    </div>
</div>       
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
                        
            
  <!--   Core JS Files   -->
  <script src="assets/js/core/jquery.min.js"></script>
  <script src="assets/js/core/popper.min.js"></script>
  <script src="assets/js/core/bootstrap.min.js"></script>
  <script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <!-- Chart JS -->
  <script src="assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->

  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>
  <script> 
  	$.getJSON("https://api.countapi.xyz/hit/nekellalwayslus-api.herokuapp.com/visits",
	function(data) {
	$("#visitor").html(data.value);
	})
	</script>
	<script>
		$.getJSON("https://api.countapi.xyz/hit/betaapikey.herokuapp.com/hit", 
		function(data) {
			$("#hit").html(data.value)
			})
		</script>
	<script>
		$.getJSON("https://api.ipify.org?format=json",
		function(data) {
			$("#ipaddres").html(data.ip)
			})
			</script>		
                
</body>

</html>